.test{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

@media (max-width:576px){
    .test::before{
        content: 'XS-Extra small';
    }
}
@media (max-width:768px){
    .test::before{
        content: 'SM-Small';
    }
}
@media (max-width:992px){
    .test::before{
        content: 'MD-Medium';
    }
}
@media (max-width:1200px){
    .test::before{
        content: 'LG-Large';
    }
}
@media (max-width:1400px){
    .test::before{
        content: '';
    }
}